{% extends 'layout.html.twig' %}

{% block content %}
    <h1>TEST</h1>
    
<h2>Location</h2>
<pre>
    {{ dump(location) }}
</pre>


<h2>Weather</h2>
<pre>
    {{ dump(weathers) }}
</pre>

{% endblock %}
