<div class="sideTextL animate__animated animate__slideInLeft">
	<h1>Green Froggy,</h1>
	<h2>l'application de météo du futur</h2>
	<p>Ayant pour objectif principal de sensibiliser le public aux dangers du changement climatique, Green Froggy reprend les codes des applications météo pour proposer la consultation des conditions météorologiques dans 50, 100 et 150 ans.</p>
	<p>Ces extrapolations, basées sur les données du GIEC, ont une valeur scientifique plutôt limitée mais posent tout de même de lourdes questions quant à l'avenir de notre planète.</p>
</div>

<div class="sideTextR animate__animated animate__slideInRight">
	<h1>Projet Hackathon (1ère place)</h1>
	<h2>réalisé en 24h les 12 et 13 mai 2022</h2>
	<p>par 5 élèves de la Wild Code School :
		<ul>
			<li>
				<a href="https://www.linkedin.com/in/emmanuelle-allain1/" target="_blank"><img class="linkedinpic" src="/assets/images/linkedin.png">Emmanuelle Allain</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/vincent-dubresson/" target="_blank"><img class="linkedinpic" src="/assets/images/linkedin.png">Vincent Dubresson</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/anthony-gouton/" target="_blank"><img class="linkedinpic" src="/assets/images/linkedin.png">Anthony Gouton</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/ghartemann/" target="_blank"><img class="linkedinpic" src="/assets/images/linkedin.png">Guillaume Hartemann-Piollet</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/cidjie-prefol/" target="_blank"><img class="linkedinpic" src="/assets/images/linkedin.png">Cidjie Prefol</a>
			</li>
		</ul>
		Ce projet n'a pas été altéré depuis la fin du hackathon le 13 mai 2022. Mobile only, il a ici été mis en scène afin de n'être consultable que dans ce format.
	</p>
</div>
